.carta {
  position: relative;
}

.carta img {
  width: 100%;
  display: block;
  border: 2px solid #fff;
  border-radius: 6px;
}

.carta .delante {
  transform: rotateY(90deg);
  position: absolute;
}

.volteada .delante {
  transform: rotateY(0deg);
}

.carta .detras {
  transition: all ease-in 0.2s;
  transition-delay: 0.2;
}

.volteada .detras {
  transform: rotateY(90deg);
  transition-delay: 0;
}