.asignatura-lista {
  width: 480ox;
  margin: 60px auto;
}

.asignatura-lista ul {
  padding: 0;
}

.asignatura-lista li {
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 4px 4px 6px rgb(0,0,0,0.05);
  border-radius: 4px;
  list-style-type: none;
  margin: 20px 0;
}